/* Fonts */
@font-face {
  font-family: NOT;
  src: url(../public/Font/Alexandria-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: NOT;
  src: url(../public/Font/Alexandria-Medium.ttf);
  font-weight: 400;
}
@font-face {
  font-family: NOT;
  src: url(../public/Font/Alexandria-Regular.ttf);
  font-weight: reg;
}
@font-face {
  font-family: NOT;
  src: url(../public/Font/Alexandria-Light.ttf);
  font-weight: 300;
}
/* FOnts */
* {
  transition: 0.3s;
  scroll-behavior: smooth;
  font-family: NOT;
  font-weight: reg;
}
body {
  background-color: rgba(0, 0, 0, 0.759);
  padding:  1%;
}
.App {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  direction: rtl;
  box-shadow: 0 5px 5px rgb(0, 0, 0.4);
  padding: 10px;
}
.Title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;
  font-family: NOT;
}
.btn {
  padding-bottom: 10px;
  direction: ltr;
}
.btn:hover {
  padding: 20px;
}
.toDo {
  transition: all 0.3s !important;
  background-color: rgb(111, 0, 111);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 10px;
  border-radius: 7px;
  margin-bottom: 10px;
}
.toDo:hover {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 7px 7px rgb(0, 0, 0, 0.4);
  cursor: pointer;
}
.comp {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  display: flex;
  gap: 5px;
  color: white;
  justify-content: flex-end;
}
.icon1,
.icon2,
.icon3 {
  background-color: white;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon1,
.icon2,
.icon3:hover {
  cursor: pointer;
}
.icon1:hover {
  padding: 6px;
  box-shadow: 0 7px 7px rgb(0, 0, 0, 0.4);
}
.icon2:hover {
  background-color: rgba(255, 0, 0, 0.271);
  padding: 6px;
  box-shadow: 0 7px 7px rgb(0, 0, 0, 0.4);
}
.icon3:hover {
  background-color: rgba(0, 0, 255, 0.168);
  padding: 6px;
  box-shadow: 0 7px 7px rgb(0, 0, 0, 0.4);
}
